.submit-btn{
  background-color: rgb(227, 51, 51);
  color: white;
  margin-left: 15px;
}

.booking-details{
  color: green;
  font-weight: 600;
}
.dic-box{
  padding: 20px 50px !important;
}

.del-text{
  font-size: 20px;
  color: rgb(227, 51, 51);
}
.del-box{
  padding: 20px;
}
